# Copy to .env and set to ports that are actually free on core server:
#   docker ps --format '{{.Names}}\t{{.Ports}}'   # see what's taken
EAGLE_TALON_WEB_PORT=8088
# EAGLE_TALON_API_PORT=8010   # only needed if you uncomment api's ports: in docker-compose.yml
